{{define "title"}}Snippet #{{.Snippet.ID}}{{ end }}

{{define "main"}}
<!-- <div class="snippet">
  <div class="metadata">
    <strong>{{.Snippet.Title}}</strong>
    <span>#{{.Snippet.ID}}</span>
  </div>
  <pre><code style="white-space: pre-wrap;">{{.Snippet.Content}}</code></pre>
  <div class="metadata">
    <time>Created: {{.Snippet.Created}}</time>
    <time>Expires: {{.Snippet.Expires}}</time>
  </div>
</div> -->

{{ with .Snippet }}
<div class="snippet">
  <div class="metadata">
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  {{/*len nil*/}}
  <pre><code class="code">{{.Content}}</code></pre>
  <div class="metadata">
    <time>Created: {{humanDate .Created}}</time>
    <time>Expires: {{humanDate .Expires}}</time>
  </div>
</div>
{{ end }}
{{ end }}
